## 11382번. 입출력 - 꼬마 정민

꼬마 정민이는 이제 A + B 정도는 쉽게 계산할 수 있다. 이제 A + B + C를 계산할 차례이다!
- 첫 번째 줄에 A, B, C (1 ≤ A, B, C ≤ 1012)이 공백을 사이에 두고 주어진다.
- A+B+C의 값을 출력한다.

In [ ]:
input_num = input()
number_list = input_num.split()
temp = 0
#print(number_list)
for number in number_list:
    number = int(number)
    temp += number

print(temp)

 77 77 7777

7931

# 9498번. 반복문 - 시험점수

시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

In [ ]:
score = int(input())

if 90 <= score <= 100:
    print("A")

elif 80 <= score <= 89:
    print("B")

elif 70 <= score <= 79:
    print("C")

elif 60 <= score <= 69:
    print("D")

elif score < 60:
    print("F")

else:
    print("올바른 점수가 아닙니다.")

 49

F

# 2753번. 윤년

https://www.acmicpc.net/problem/2753

연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

- 입력: 첫째 줄에 연도가 주어진다. 연도는 1보다 크거나 같고, 4000보다 작거나 같은 자연수이다.
- 출력: 첫째 줄에 윤년이면 1, 아니면 0을 출력한다.

In [ ]:
#1~4000
year = int(input())

#4로 나눠지면 윤년(1)
if year % 4 == 0:
    if year % 100 == 0:
        #100으로 나눠지는 애들 중 400만 윤년임
        if year %400 != 0:
            print(0)
        else:
            print(1)
    #4배수에 100으로 안나눠지면 윤년임
    else:
        print(1)
else:
    print(0)

 2004

1

# 14681. 사분면 고르기

# 25314번: 코딩은 체육과목입니다.

- 오늘은 혜아의 면접 날이다. 면접 준비를 열심히 해서 앞선 질문들을 잘 대답한 혜아는 이제 마지막으로 칠판에 직접 코딩하는 문제를 받았다. 혜아가 받은 문제는 두 수를 더하는 문제였다. C++ 책을 열심히 읽었던 혜아는 간단히 두 수를 더하는 코드를 칠판에 적었다. 코드를 본 면접관은 다음 질문을 했다. “만약, 입출력이  $N$바이트 크기의 정수라면 프로그램을 어떻게 구현해야 할까요?”

- 혜아는 책에 있는 정수 자료형과 관련된 내용을 기억해 냈다. 책에는 long int는
    - $4$바이트 정수까지 저장할 수 있는 정수 자료형이고 long long int는
    - $8$바이트 정수까지 저장할 수 있는 정수 자료형이라고 적혀 있었다. 혜아는 이런 생각이 들었다. “int 앞에 long을 하나씩 더 붙일 때마다  $4$바이트씩 저장할 수 있는 공간이 늘어나는 걸까? 분명 long long long int는  $12$바이트, long long long long int는  $16$바이트까지 저장할 수 있는 정수 자료형일 거야!” 그렇게 혜아는 당황하는 면접관의 얼굴을 뒤로한 채 칠판에 정수 자료형을 써 내려가기 시작했다.

- 혜아가  $N$바이트 정수까지 저장할 수 있다고 생각해서 칠판에 쓴 정수 자료형의 이름은 무엇일까?

- 첫 번째 줄에는 문제의 정수  $N$이 주어진다.  $(4\le N\le 1\, 000$;  $N$은  $4$의 배수 $)$

In [ ]:
num = int(input())

if num == 4:
    print("long int")
elif num >=4 and (num-4)%4 == 0 :
    i = (num-4)//4
    #print(i)
    print("long "*i + "long int")

 20

4
long long long long long int

# 오븐시계

첫째 줄에는 현재 시각이 나온다. 현재 시각은 시 A (0 ≤ A ≤ 23) 와 분 B (0 ≤ B ≤ 59)가 정수로 빈칸을 사이에 두고 순서대로 주어진다. 두 번째 줄에는 요리하는 데 필요한 시간 C (0 ≤ C ≤ 1,000)가 분 단위로 주어진다.


첫째 줄에 종료되는 시각의 시와 분을 공백을 사이에 두고 출력한다. (단, 시는 0부터 23까지의 정수, 분은 0부터 59까지의 정수이다. 디지털 시계는 23시 59분에서 1분이 지나면 0시 0분이 된다.)

시간 뺄셈위주로 -> 0 미만이면 시간이 줄어드는 구조
-> 60을 0, hour +1

예외처리 :새벽 00:00

In [ ]:
cooking = input().split(' ')
hour = int(cooking[0])
mins = int(cooking[1])
cook_mins = int(input())

if cook_mins >= 60:
    cook_hours = cook_mins // 60
    hour += cook_hours

    cook_mins = cook_mins % 60
    mins += cook_mins

else:
    mins += cook_mins


if mins > 59:
    hour += 1
    mins = mins - 60

if hour > 23:
    hour-=24

print(hour, mins)

 22 00
 300

3 0

# 5597.과제 안내신분?

In [ ]:
#

submit = []
student = []
for s in range(1,31):
    student.append(s)

for i in range(28):
    num = int(input())
    submit.append(num)

In [ ]:
## 5597.과제 안내신분?

submit = []
student = []
no_submit = []

for s in range(1,31):
    student.append(s)

for i in range(28):
    num = int(input())
    submit.append(num)

submit.sort()


for i in student:
        if i not in submit:
            no_submit.append(i)

no_submit.sort()

print(no_submit[0])
print(no_submit[1])

 3
 4
 6

[1,
 2,
 5,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

# 1546 평균 조작

세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.

In [ ]:
sub_num = int(input())
scores = input().split(' ')
for i in range (len(scores)):
  scores[i] = int(scores[i])

# score /(M*100)

M = 0
for score in scores:
  if score > M:
    M = score

fin = []

for s in scores:
  s = (s*100)/M
  fin.append(s)

total = 0
for f in fin:
  total += f

ave= total/len(fin)
print(ave)

3
40 80 60
75.0

In [ ]:
2

# 11557: Yangjojang of the year
- https://www.acmicpc.net/problem/11557
- 각 테스트 케이스마다 한 줄에 걸쳐 술 소비가 가장 많은 학교의 이름을 출력한다.

In [17]:
T = int(input())

for i in range(T):
  uni_num = int(input())
  max = 0
  max_uni = ""
  for i in range(uni_num):
    uni = input().split(' ')
    uni[1] = int(uni[1])
    if uni[1] > max:
      max_uni = uni[0]
      max = uni[1]
  print(max_uni)

2
3
Y 10
K 100
E 20
K
2
Y 1
K 100
K

In [ ]:
KE3